.parallax-window {
	min-height: 100vh;
    background: transparent;
    text-align: center;
}
.texto{
    position: relative;
    z-index: 4;
    color: white;
    font-size: 6rem;
    text-align: center;
    top: 45vh;
}
.texto-2{
    position: relative;
    z-index: 4;
    color: white;
    font-size: 2rem;
    text-align: center;
    top: 46vh;
}
.servico-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
    margin-right: 80px;
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .texto {
        top: 40vh;
        font-size: 3rem;
    }
    .texto-2{
        font-size: 1.5rem;
    }
}