<script type="text/javascript">
  wow.init();
</script>
<div class="view overlay zoom">
    <img class="z-depth-3 wow fadeInUp" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/banner%20globos.png?alt=media&token=dc8a7a23-1152-4ce0-92af-a7c3d7f0c163" class="img-fluid " alt="infoBanner">
    <div class="mask flex-center waves-effect waves-light">
        <p class="white-text">Servicios</p>
    </div>
</div>
<p class="text-center my-2">
    Somos una empresa de diseño gráfico en Sevilla, con más de 5 años de experiencia profesional. En este tiempo hemos realizado todo tipo de proyectos:
</p>
<div class="my-3">
  <ul class="list-group">
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Logotipos</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Identidad Corporativa</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Tarjetas de Visita y Papelería Corporativa</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Folletos</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Carteles</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Flyers</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Revistas</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño y Maquetación de libros</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Ilustraciones</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Envases y Etiquetas (Packaging y Labeling)</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Imagen Gráfica para todo tipo de eventos (Congresos, Seminarios, Cursos, Presentaciones, etc.)</li>
  </ul>
</div>