
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="">TecnoKing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active nav-item">
                  <a class="text-light nav-link btn btn-primary" href="#" routerLink="/">Inicio</a>
                </li>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Desarrollo
              </button>
              <div class="dropdown-menu nav-item" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item nav-link" routerLink="/desarrolloWeb" href="#">Desarrollo de sitios WEB.</a>
                <a class="dropdown-item nav-link" href="#" routerLink="/desarrolloSistemas">Desarrollo de sistemas para las empresas.</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Móviles
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item nav-link" href="#" routerLink="/iCloud">Desbloqueo de iCloud</a>
              </div>
            </div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Descargas de Firmware
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="https://www.sammobile.com/" target="blank">Samsung</a>
                  <a class="dropdown-item" href="https://ipsw.me/" target="blank">Apple</a>
                </div>
              </div>
              <li class="nav-item active nav-item">
                <a class="text-light nav-link btn btn-primary" href="#" routerLink="/disenoGrafico">Diseño Grafico</a>
              </li>
          </ul>
        </div>
      </div>
      </nav>