
<script type="text/javascript">
  wow.init();
</script>
<!--Comienza Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20logotipos.png?alt=media&token=d29a0f4a-0961-4c34-87f4-53866574ab61" alt="Diseño de Logotipos">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="pink-text">Diseño de Logotipos</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20identidad%20corporativa.jpg?alt=media&token=a5bd5519-9dab-4cf0-a8c0-bacc4b892443" alt="Diseño de Identidad Corporativa">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="blue-text">Diseño de Identidad Corporativa</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20tarjeta%20de%20visitas.jpg?alt=media&token=bf8d85ce-dca6-4d89-a916-5ae77d4a3434" alt="Diseño de Tarjeta de Visita Corporativa">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="pink-text">Diseño de Tarjeta de Visita Corporativa</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20folletos.jpg.png?alt=media&token=cd552d14-b25e-4d54-b684-d7581034bf90" alt="Diseño de Folletos">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="orange-text">Diseño de Folletos</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20carteles.jpg?alt=media&token=d0cdb2b2-0eb6-4586-8dd2-d110584d1418" alt="Diseño de Carteles">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="">Diseño de Carteles</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20flyers.jpg?alt=media&token=710d5ee1-668d-4551-917c-c1ab6d6572a9" alt="Diseño de Flyers">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="pink-text">Diseño de Flyers</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20revistas.jpg?alt=media&token=647724d3-e6b5-4ae2-b4ce-fef3332dc831" alt="Diseño de Revistas">
        <div class="carousel-caption d-none d-md-block">
          <h5>Diseño de Revistas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20y%20maquetacion%20de%20libros.jpg?alt=media&token=1c920dc3-781f-4039-9dbf-ad091ab9f785" alt="Diseño y Maquetacion de Libros">
        <div class="carousel-caption d-none d-md-block">
          <h5>Diseño y Maquetacion de Libros</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/ilustraciones.jpg?alt=media&token=3f786031-b8ba-444f-8e1d-174321c0b351" alt="Ilustraciones">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ilustraciones</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20envases%20y%20etiquetas.jpg?alt=media&token=914496e6-cc3e-4dbd-9b99-52e0efbb8bfa" alt="Diseño de Envases y Etiquetas">
        <div class="carousel-caption d-none d-md-block">
          <h5>Diseño de Envases y Etiquetas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/diseno%20de%20imagen%20grafica%20para%20todo%20tipo%20de%20eventos.jpg?alt=media&token=48ec1458-f69d-4df6-9538-d70b87c324f6" alt="Diseño de Imagen Grafica para todo tipo de Eventos">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="pink-text">Diseño de Imagen Grafica para todo tipo de Eventos</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  <!--Termina carousel-->
<h5 class="text-center my-2">
    Somos una empresa de diseño gráfico en Nicaragua, con más de 5 años de experiencia profesional. En este tiempo hemos realizado todo tipo de proyectos:
</h5>
<div class="my-3">
  <ul class="list-group">
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Logotipos</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Identidad Corporativa</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Tarjetas de Visita y Papelería Corporativa</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Folletos</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Carteles</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Flyers</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Revistas</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño y Maquetación de libros</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Ilustraciones</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Envases y Etiquetas (Packaging y Labeling)</li>
    <li class="list-group-item " ><i class="fa fa-check fa-lg"></i>Diseño de Imagen Gráfica para todo tipo de eventos (Congresos, Seminarios, Cursos, Presentaciones, etc.)</li>
  </ul>
</div>
<div class="my-3 text-center">
  Nuestra labor como <strong>diseñadores gráficos</strong> es la de encontrar la solución que mejor se ajuste a tus necesidades de comunicación visual. Ya sea para un folleto promocional, o para diseñar toda la imagen corporativa de tu empresa o entidad, trabajamos con absoluta dedicación y siempre buscando el <strong>diseño más profesional</strong>. No nos conformamos con diseños mediocres. <strong>Nos gusta cuidar los detalles</strong>, llegar al fondo hasta dar con la solución más idónea. Te asesoraremos y ayudaremos a encontrar la mejor solución gráfica desde el primer momento. <strong>Somos una de las empresas de diseño gráfico líderes en Nicaragua.</strong>.
</div>
<div class="container">
  <div class="view overlay zoom">
      <img class="z-depth-3 wow fadeInUp" src="https://firebasestorage.googleapis.com/v0/b/tecnokingapp.appspot.com/o/banner%20globos.png?alt=media&token=dc8a7a23-1152-4ce0-92af-a7c3d7f0c163" class="img-fluid " alt="infoBanner">
      <div class="mask flex-center waves-effect waves-light">
          <p class="white-text">Servicios</p>
      </div>
  </div>
  <div class="container">
<div>
<div class="my-3 text-center">
  <p class="display-4">Una de las principales ventajas de trabajar con nosotros será que siempre podrás disponer de múltiples servicios relacionados cuando los necesites, manteniendo una coherencia en la línea de diseño de tu marca o negocio a lo largo del tiempo, con un servicio profesional y cualificado.</p>
  <p class="my-2">
    Puedes empezar pidiéndonos el diseño de un logo y más adelante puede que necesites ampliar la imagen corporativa para adaptarla a nuevos productos o servicios o bien a unas nuevas instalaciones, por ejemplo. También  puedes necesitar una web o una tienda online. En todos los casos podrás contar con nosotros, abaratando costes y evitando riesgos relacionados con acciones puntuales de diseño no coordinado. Somos algo más que una empresa de diseño. Somos consultores y asesores en comunicación gráfica.
  </p>
</div>
</div>
</div>